:root {
  --min-radius: 10rem;
  --max-radius: 11rem;
}

.Inspectr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing);
  margin-top: 3.5rem;
  height: calc(100% - 3.5rem);
}
.Inspectr > img {
  height: 3rem;

  @media (max-width: 300px) {
    height: 2.2rem;
  }
}
.Inspectr > small {
  padding-inline: var(--spacing);
}
.Inspectr > .blob-wrp {
  position: relative;
}
.Inspectr > .blob-wrp > .blob {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10rem;
  aspect-ratio: 1/1;
  background-image: radial-gradient(var(--accent-alt), var(--accent));
  border-top-left-radius: var(--min-radius);
  border-bottom-left-radius: var(--min-radius);
  border-bottom-right-radius: var(--max-radius);
  border-top-right-radius: var(--max-radius);
  user-select: none;
  animation: 15s cubic-bezier(0.58, -0.78, 0.5, 1.8) 1s infinite forwards blob;

  @media (max-width: 300px) {
    height: 8rem;
  }
}
.Inspectr > .blob-wrp > .blob > img {
  height: 4rem;
  transform: rotate(-90deg);

  @media (max-width: 300px) {
    height: 3rem;
  }
}
.Inspectr > .blob-wrp > .blob.alt {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  transform: rotate(90deg);
  background-image: none;
  border: solid 0.25rem var(--accent-opaque);
  animation: 20s cubic-bezier(0.41, -0.59, 0.13, 1.58) 1s infinite forwards blob;
}

@keyframes blob {
  0% {
    border-top-left-radius: var(--min-radius);
    border-bottom-left-radius: var(--min-radius);
    border-bottom-right-radius: var(--max-radius);
    border-top-right-radius: var(--max-radius);
  }
  20% {
    border-top-left-radius: var(--max-radius);
    border-bottom-left-radius: var(--min-radius);
    border-bottom-right-radius: var(--min-radius);
    border-top-right-radius: var(--max-radius);
  }
  40% {
    border-top-left-radius: var(--max-radius);
    border-bottom-left-radius: var(--max-radius);
    border-bottom-right-radius: var(--min-radius);
    border-top-right-radius: var(--min-radius);
  }
  60% {
    border-top-left-radius: var(--max-radius);
    border-bottom-left-radius: var(--max-radius);
    border-bottom-right-radius: var(--max-radius);
    border-top-right-radius: var(--min-radius);
  }
  80% {
    border-top-left-radius: var(--min-radius);
    border-bottom-left-radius: var(--max-radius);
    border-bottom-right-radius: var(--max-radius);
    border-top-right-radius: var(--max-radius);
  }
  100% {
    border-top-left-radius: var(--min-radius);
    border-bottom-left-radius: var(--min-radius);
    border-bottom-right-radius: var(--max-radius);
    border-top-right-radius: var(--max-radius);
  }
}

.Inspectr > table {
  margin-block: var(--spacing-1);
  background-color: white;
  border: solid 1px var(--border);
  box-shadow: 0 0 15px var(--accent-opaque);
}
.Inspectr > table > tr:nth-child(even) {
  background-color: var(--light-tint);
}
.Inspectr > table > tr > td {
  min-width: 4rem;
  padding: var(--spacing);
  border: solid 1px var(--border);
  font-size: 0.85rem;

  @media (max-width: 300px) {
    padding: var(--spacing-1);
  }
}

.scan-status {
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 0.85rem;
}
