.SidebarItem {
  width: calc(100% - var(--spacing) * 2);
  padding: var(--spacing);
  border-radius: var(--radius-1);
  background-color: white;
  text-decoration: none;
  color: var(--dark);
  transition: background-color 0.2s ease-out;
}
.SidebarItem:hover {
  background-color: var(--border);
  cursor: pointer;
}
.SidebarItem > h4 {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
}
.SidebarItem.current {
  background-color: var(--accent);
  color: white;
}
.SidebarItem.current > h4::before {
  content: "";
  display: block;
  width: var(--spacing-1);
  aspect-ratio: 1/1;
  background-color: white;
  border-radius: 50%;
}
