.SidebarItem {
  width: calc(100% - var(--spacing) * 2);
  padding: var(--spacing);
  border-top-right-radius: var(--radius-1);
  border-bottom-right-radius: var(--radius-1);
  background-color: white;
  text-decoration: none;
  color: var(--dark);
  transition: background-color 0.2s ease-out;
}
.SidebarItem:hover {
  background-color: var(--light-tint);
  cursor: pointer;
}
.SidebarItem > h4 {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
}
.SidebarItem.current {
  background-color: var(--light-tint);
  border-left: solid 2px var(--accent);
  color: var(--accent);
}
