.Home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--spacing);
  width: calc(100% - var(--spacing) * 2);
  margin-top: 3.5rem;
  padding: var(--spacing);
}
.Home > img {
  height: 2.5rem;
}
