.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing);
  padding-inline: var(--spacing);
  height: 100%;
}
.Home > img {
  height: 2.5rem;
}

.Home > .cards-wrp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing);
  width: 100%;
  padding-block: var(--spacing);
}
