@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap");

:root {
  --green-tint: #f4fcf6;
  --green: #39c252;
  --green-alt: #329c46;
  --green-opaque: #39c2524d;
  --red-tint: #fff7f7;
  --red: #e34e4e;
  --red-opaque: #e34e4e53;
  --yellow: #e3d74e;
  --yellow-opaque: #e3d74e4f;
  --light-tint: #f9f7fd;
  --accent: #794ee3;
  --accent-alt: #4e3caa;
  --accent-opaque: #784ee346;
  --border: #e5e4e7;
  --dim: #6d657e;
  --dark: #2a2730;
  --shadow: 3px 3px 2px #140a3011;
  --radius: 0.5rem;
  --radius-1: 0.25rem;
  --spacing: 0.85rem;
  --spacing-1: 0.4rem;
}

html {
  font-size: 16px;

  @media (max-width: 400px) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
}

.dim {
  color: var(--dim);
}
.center {
  display: block;
  text-align: center;
}

#root {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  --dot-size: 3px;
  --dot-space: 1.5rem;
  background:
    linear-gradient(
        90deg,
        white calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        white calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--light-tint);
}
